
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 152.5rem;
}.desktop-4-Ltu {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-image: url('REPLACE_IMAGE:63260d2699680fb9b5bcd7bf52786fe118a4e2ce');
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-size: 100% 100%;

  .auto-group-ibgy-aYM {
    width: 100%;
    height: 12.3rem;
    border: solid 0.05rem #000000;
    background-color: #d5ebef;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 2.8rem 1.5rem 2.8rem;

    .header-opR {
      height: 100%;
      display: flex;
      align-items: center;
      width: 103.85rem;

      .makaraofftui-2-YGD {
        height: 8.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 4rem 0rem 0rem;
        width: 20.5rem;
      }
      .header-line-d2m {
        height: 8.8rem;
        border: solid 0.05rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-right: 29.95rem;
        width: 0.1rem;
      }
      .auto-group-utev-vnZ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 0rem 0.8rem 0rem;
        height: calc(100% - 2.2rem);

        .smart-irrigation-system-3MP {
          margin-bottom: 0.8rem;
          font-size: 3.5rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .desain-project-2-kelompok-36-K41 {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 400;
          margin-right: 0.1rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-jpdf-BM7 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 4.6rem 4.1rem 7.9rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-rjxh-6ys {
      height: 31.002rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 4.098rem 6.2rem;
      width: 133.8rem;

      .data--dD7 {
        position: absolute;
        left: 0;
        top: 5.1rem;
        display: flex;
        align-items: center;
        width: 124.2rem;
        height: 25.902rem;

        .continent-Meu {
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 2.125rem 2.3rem 3.173rem 2.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 36.9rem;
          border: solid 0.05rem #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

          .group-1-HHf {
            width: calc(100% - 8rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 4.146rem 2.257rem 3.854rem;

            .kondisi-relay-penyiraman-AVs {
              line-height: 1.2125;
              text-align: center;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.0185rem;
              font-size: 2rem;
            }
            .on-fSd {
              flex-shrink: 0;
              margin-left: 0.1928rem;
              text-align: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .auto-group-wujf-mkZ {
            width: 100%;
            height: 8.9288rem;
            position: relative;
            flex-shrink: 0;

            .kondisi-hujan-XDw {
              top: 1.2757rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 12.9rem;
              height: 7.6531rem;
              position: absolute;
              left: 0.55rem;

              .kondisi-hujan-eJZ {
                flex-shrink: 0;
                margin-bottom: 2.0531rem;
                text-align: center;
                font-size: 2rem;
                color: #000000;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .hujan-ZRX {
                text-align: center;
                font-weight: 700;
                white-space: nowrap;
                flex-shrink: 0;
                margin-left: 0.1rem;
                font-size: 2.5rem;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .kondisi-air-sx1 {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 14.6rem;
              height: 7.6531rem;
              position: absolute;
              left: 17.35rem;
              top: 1.2757rem;

              .keterisian-tong-cPo {
                white-space: nowrap;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2rem;
                line-height: 1.2125;
                color: #000000;
                flex-shrink: 0;
                margin-bottom: 2.0531rem;
                text-align: center;
              }
              .penuh-jjK {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .status-line-sKj {
              position: absolute;
              border: solid 0.05rem #000000;
              box-sizing: border-box;
              top: 0;
              background-color: #000000;
              border-radius: 1.4rem;
              width: 0.1rem;
              height: 8.8rem;
              left: 15.9rem;
            }
            .header-line-mg1 {
              top: 0;
              background-color: #000000;
              border-radius: 8.4rem;
              width: 32.2rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
              border: solid 0.05rem #000000;
              box-sizing: border-box;
            }
          }
        }
        .auto-group-mpz9-cwX {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 2.7417rem;

          .relay-cointaner-xVb {
            flex-shrink: 0;
            margin-right: 7.4418rem;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex-direction: column;
            border: solid 0.05rem #000000;
            background-color: #ffffff;
            padding: 4.838rem 2.772rem 7.257rem 2.838rem;
            width: 14.9165rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2rem;

            .relay-switch-TSM {
              margin: 0rem 0rem 2.962rem 0rem;
              max-width: 7.7rem;
              font-size: 2.2rem;
              line-height: 1.1175;
              color: #000000;
              text-align: center;
              font-weight: 700;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .rectangle-6-Yyb {
              width: 100%;
              height: 5.5433rem;
              background-color: #d9d9d9;
              border-radius: 2rem;
              flex-shrink: 0;
            }
          }
          .header-line-qho {
            background-color: #9ac188;
            border-radius: 1.2rem;
            flex-shrink: 0;
            margin: 0.2rem 8.6rem 0rem 0rem;
            width: 0.2rem;
            height: 25.3rem;
            border: solid 0.05rem #9ac188;
            box-sizing: border-box;
          }
          .numerical-container-x1j {
            width: 53.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2rem;
            flex-shrink: 0;

            .kelembapan-tanah-67w {
              margin-bottom: 1.3576rem;
              box-sizing: border-box;
              width: 100%;
              border: solid 0.05rem #000000;
              flex-shrink: 0;
              padding: 2.133rem 17.05rem 1.112rem 16.55rem;
              height: 11.9273rem;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #ffffff;
              border-radius: 2rem;

              .kelembapan-tanah-bqP {
                width: 100%;
                height: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;

                .kelembapan-tanah-9ru {
                  margin-bottom: 1.0818rem;
                  text-align: center;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                }
                .item-100-gbw {
                  margin-left: 0.2889rem;
                  text-align: center;
                  font-weight: 700;
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 4rem;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .auto-group-wh2m-Mi5 {
              height: 12.3152rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              width: 100%;

              .air-keluar-Way {
                width: 26.1rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.873rem 8.585rem 0.894rem 8.415rem;
                border: solid 0.05rem #000000;
                background-color: #ffffff;
                border-radius: 2rem;
                margin-right: 1.2rem;
                height: 100%;

                .debit-air-Ems {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: 100%;
                  align-items: center;

                  .air-keluar-zW9 {
                    white-space: nowrap;
                    margin-bottom: 0.1335rem;
                    text-align: center;
                    font-size: 2rem;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                  }
                  .item-100-vub {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin: 0rem 0rem 0.515rem 0.024rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 4rem;
                    line-height: 1.2125;
                    color: #000000;
                  }
                  .liter-EvH {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-left: 0.0767rem;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
              }
              .total-air-keluar-Wso {
                box-sizing: border-box;
                width: 26.1rem;
                border: solid 0.05rem #000000;
                background-color: #ffffff;
                border-radius: 2rem;
                flex-shrink: 0;
                padding: 0.873rem 4.293rem 0.7rem 4.407rem;
                height: 12.1212rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

                .total-air-FKb {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: 100%;
                  align-items: center;

                  .total-air-keluar-l-oc1 {
                    font-size: 2rem;
                    color: #000000;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-family: Inter, 'Source Sans Pro';
                    margin-bottom: 0.1011rem;
                    text-align: center;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                  .item-100-8uB {
                    font-weight: 700;
                    line-height: 1.2125;
                    color: #000000;
                    white-space: nowrap;
                    margin: 0rem 0.024rem 0.547rem 0rem;
                    font-size: 4rem;
                    flex-shrink: 0;
                    text-align: center;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .hari-ini-fPK {
                    margin-right: 0rem;
                    font-size: 2rem;
                    font-weight: 400;
                    text-align: center;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
      }
      .awan-Kim {
        vertical-align: top;
        width: 16.4rem;
        height: 13rem;
        position: absolute;
        left: 117.4rem;
        top: 0;
        object-fit: cover;
      }
    }
    .auto-group-l4xm-Ta5 {
      margin: 0rem 3.4rem 1.8rem 0rem;
      width: calc(100% - 3.4rem);
      height: 25.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .graph-1-aub {
        box-sizing: border-box;
        width: 67.2rem;
        border: solid 0.05rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-right: 2.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 0.7rem 1.5rem 1.9rem 3.4rem;

        .kelembapan-tanah-7ed {
          margin-bottom: 0.7rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .graph-1-r6R {
          width: 100%;
          height: 20.3rem;
          background-color: #d9fbda;
        }
      }
      .graph-2-XCZ {
        padding: 0.7rem 1.6rem 1.9rem 3.3rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 67.2rem;
        border: solid 0.05rem #000000;
        background-color: #ffffff;

        .nilai-relay-TM7 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.7rem;
        }
        .graph-2-Nys {
          width: 100%;
          height: 20.3rem;
          background-color: #f9bebe;
        }
      }
    }
    .auto-group-pj2u-tBX {
      margin-right: 3.6rem;
      width: calc(100% - 3.6rem);
      height: 25.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .graph-3-Djb {
        margin-right: 2rem;
        padding: 1.1rem 1.5rem 1.5rem 3.4rem;
        width: 67.2rem;
        border: solid 0.05rem #000000;
        box-sizing: border-box;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .air-keluar-YG5 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.7rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .graph-3-UfX {
          width: 100%;
          height: 20.3rem;
          background-color: #b3d0fc;
        }
      }
      .graph-4-X81 {
        width: 67.2rem;
        border: solid 0.05rem #000000;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1rem 1.4rem 1.5rem 3.5rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;

        .total-air-keluar-FZo {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8rem;
          font-size: 1.8rem;
        }
        .graph-4-ByF {
          width: 100%;
          height: 20.3rem;
          background-color: #7b7ed0;
        }
      }
    }
  }
  .footer-uPT {
    border: solid 0.05rem #000000;
    background-color: #9efbd3;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 2.8rem 2.1rem 2.8rem;
    width: 100%;
    height: 15rem;

    .footer-SeH {
      width: 82.35rem;
      height: 100%;
      display: flex;
      align-items: center;

      .makaraofftui-3-zvh {
        margin: 0rem 4.1rem 0.4rem 0rem;
        width: 20.5rem;
        height: 8.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .footer-line-KTB {
        height: 9rem;
        border: solid 0.05rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 39.85rem 0.9rem 0rem;
        width: 0.1rem;
      }
      .auto-group-aejr-SGu {
        margin-top: 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .want-to-ask-question--gBF {
          white-space: nowrap;
          font-weight: 700;
          color: #000000;
          font-size: 1.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          text-align: center;
        }
        .raihanfakhargmailcom-PrM {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          font-weight: 400;
          line-height: 1.2125;
          text-align: center;
          font-size: 1.2rem;
          white-space: nowrap;
        }
        .desain-project-2-kelompok-36-vbP {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }
}
